body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  /*overflow: hidden;*/
  background-color: #333;
  z-index: 100;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}


#cy {
    width: 100%;
    height: 100%;
    position: absolute;
    /*top: 20px;*/
    left: 0px;
    bottom: 0px;
    box-shadow: 10px 0 5px -2px #888;
    font-size: 40px;
    /*font-smooth: always;
    font-family: Verdana;*/
    -webkit-font-smoothing: antialiased;
}


.resizer {
  z-index: 11;
  background-color: #cbd5e0;
  cursor: ew-resize;
  height: 100%;
  width: 5px;
  display: inline-block;
  position: absolute;
}

.container__right {
  /* Take the remaining width */
  z-index: 10;
  width: 30%;
  height: 100%;

  /* Misc */
  position:fixed;
  bottom: 0;
  right:0;
  align-items: right;
  /*display: flex;*/
  justify-content: left;
  background-color: white;
}

.latex_page{
  /*width: 100%;*/
  height: 100%;

  /* Misc */
  /*position:fixed;*/
  bottom: 0;
  right:0;
  display: flex;
  justify-content: left;
  /*overflow:auto;*/
  overflow-x: hidden;
  overflow-y: scroll;
  display: inline-block;
  position: absolute;
}